	
			<!-- marking area-->
			<div class="hero-unit">
				<h1>Forrest Gump</h1>

				<p>Life is like a box of chocolates, you never know what you're gonna get.</p>

				<a href="mailto:arganzheng@gmail.com" class="btn btn-large btn-success">Contact Me</a>
			</div><!-- End marking area-->

			<!-- main area-->
			<div class="row">
				<!-- left sidebar ared-->
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-head">WHO I AM</li>
						<li class="active"><a href="http://blog.arganzheng.me">My Blog</a></li>
						<li><a href="http://weibo.com/argan1985">My Weibo</a></li>
						<li><a href="mailto:arganzheng@gmail.com">My Email</a></li>
						<li class="nav-head">PROGRAMMING WITH</li>
						<li><a href="#">Java</a></li>
						<li><a href="#">Scala</a></li>
						<li><a href="#">Ruby</a></li>
						<li><a href="#">Python</a></li>
						<li><a href="#">Shell</a></li>
					</ul>
				</div><!-- End left sidebar ared-->
				<!-- right content ared-->
				<div class="span9">
					<h3>Who I am?</h3>
					<p>My Name is Forrst, Forrest Gump!</p>

					<h3>My favorite programming languages?</h3>
					<p>Java, Scala, Ruby, Python and Shell is my favorite and skill programming languages!</p>
				</div><!-- End right content ared-->
			</div><!-- End main area-->			

			<!-- footer area-->
			<hr>
			<div class="row">
				<div class="span4">
					<h4 class="muted text-center">My Working Experience</h4>
			        <ul>
			            <li><a href="#">Erison:2008<a></li>
			            <li><a href="#">Alibaba 2009-2012<a></li>
			            <li><a href="#">Tencent:2012-Now<a></li>
			        </ul>
			        <a href="#" class="btn"><i class="icon-user"></i>See My Resume</a>
			    </div>
			    <div class="span4">
			        <h4 class="muted text-center">My Motto</h4>
			        <p>Put the pass behind you before you can move on!Put the pass behind you before you can move on!</p>
			        <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i>Move On</a>
			    </div>
			    <div class="span4">
			        <h4 class="muted text-center">My Hobby</h4>
			        <p>In my spare time, I like reading. And In weekend, I whould like to go for a ride, or climb, or play basketball. Also, music and movie are my favorite.</p>
			        <a href="#" class="btn btn-info">Join Me</a>
			    </div>
			</div><!-- End footer area-->	
			<!-- copyright area -->				    
